@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: black;
  --shadow-color: #0000000c;
  --background-start-color: #f4fdff;
  --background-end-color: white;

  &.dark {
    --foreground-color: white;
    --shadow-color: #ffffff22;
    --background-start-color: black;
    --background-end-color: #3d3a3a;
  }
}

html {
  display: contents;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  /* contain: content; */
  min-height: 100svh;
  color: var(--foreground-color);
  background: linear-gradient(135deg, transparent, var(--background-end-color))
    var(--background-start-color) !important;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

* {
  line-height: 1.5em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

i {
  display: inline-block;
  border-radius: 5%;
  padding: 0.125em 0.25em;
  animation: blink 3s ease-out infinite alternate;
  line-height: initial;
}

@keyframes blink {
  to {
    box-shadow: 1px 1px 10px var(--shadow-color);
  }
}

p {
  margin-block: 0.5em;
}

body > [data-overlay-container] {
  display: contents;
}

.dark .next-error-h1 {
  &,
  & ~ *,
  :has(~ &) {
    color: var(--foreground-color) !important;
    border-color: var(--foreground-color) !important;
  }
}
