.common {
  --first-duration: 4s;

  .animated-text {
    @apply animate-appearance-out;

    @media (min-width: theme(screens.lg)) {
      @keyframes mask-text {
        from {
          background-size: 0%;
        }
        to {
          color: transparent;
          text-shadow: -1px 1px 5px --shadow-color;
          background-size: 100%;
          animation-play-state: paused;
        }
      }
    }

    animation: appearance-out 0.4s ease-out reverse,
      2s ease-out calc(var(--first-duration) - 250ms) 1 forwards mask-text;
    background-image: repeating-linear-gradient(
      to left bottom,
      var(--foreground-color) 0 6px,
      var(--scrollbar-color) 8px 22px,
      var(--background-end-color) 22px 25px
    );
    background-origin: content-box;
    background-position: top right;
    background-size: cover;
    background-clip: text;

    @media screen and (min-width: theme(screens.sm)) {
      &::before {
        content: "";
        text-transform: inherit;
        display: inline-block;
        line-height: 1.1em;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        width: fit-content;
        animation: 12s cubic-bezier(0.88, -0.02, 0.12, 0.3) calc(var(--first-duration) + 2.5s)
          infinite normal text-animation;
        transform-origin: left center;
        scale: 0 1;
        backdrop-filter: blur(4px);
        color: var(--foreground-color);

        @media screen and (min-width: theme(screens.sm)) {
          @keyframes text-animation {
            from {
              content: "\00a0";
            }
            5% {
              scale: 1;
              content: "\00a0";
            }
            8% {
              content: "&d=X HTb+C_?";
            }
            9% {
              content: "cnMr GY=$4gJ";
            }
            10% {
              content: "ajdy _VuD5_}";
            }
            11% {
              content: "an$# Pama9Vd";
            }
            12% {
              content: "an$# m^do@z!";
            }
            13% {
              content: "an!: mo]YREx";
            }
            14% {
              content: "An?$ mo^t@!@";
            }
            15% {
              content: "Ana! mos&$Fm";
            }
            16% {
              content: "Ana$ most@!2";
            }
            17% {
              content: "Anas mosta!@";
            }
            18% {
              content: "Anas mostaf@";
            }
            19% {
              content: "Anas Mostafa";
              color: var(--foreground-color);
            }
            75% {
              color: rgb(from var(--foreground-color) r g b / 0.7);
            }
            to {
              scale: 1;
              content: "Anas Mostafa";
              color: rgb(from var(--foreground-color) r g b / 0);
            }
          }
        }
      }
    }
  }

  .image {
    @media screen and (min-width: theme(screens.lg)) {
      border-radius: 5% 2%;
      will-change: opacity, clip-path, filter, scale;
      animation: clip var(--first-duration) linear 1 forwards;
      /* Idle mode */
      scale: 1;
      opacity: 1;
      filter: sepia(0.35) invert(0) blur(0) drop-shadow(1px 1px 4px #0005);
      clip-path: none;
      transform: none;

      @keyframes clip {
        from {
          clip-path: polygon(
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%
          );
          scale: 0;
          opacity: 0;
          filter: sepia(0.7) hue-rotate(180deg);
        }

        15% {
          scale: 0.7;
          opacity: 1;
        }

        30% {
          scale: 0.9;
          filter: sepia(0.35) hue-rotate(180deg);
          clip-path: polygon(
            49% 23%,
            53% 49%,
            78% 41%,
            57% 55%,
            67% 74%,
            49% 56%,
            31% 75%,
            42% 56%,
            19% 43%,
            45% 49%
          );
        }

        50% {
          scale: 0.96;
          filter: sepia(0.35) hue-rotate(180deg);
          clip-path: polygon(
            50% 0%,
            64% 34%,
            100% 35%,
            70% 60%,
            100% 100%,
            49% 78%,
            0 100%,
            29% 60%,
            1% 36%,
            36% 35%
          );
        }

        70%,
        80% {
          scale: 0.96;
          filter: sepia(0.45) hue-rotate(0) blur(3px);
          clip-path: polygon(
            50% 4%,
            64% 34%,
            100% 35%,
            66% 55%,
            93% 94%,
            50% 70%,
            6% 94%,
            31% 56%,
            1% 36%,
            36% 35%
          );
        }

        97% {
          clip-path: polygon(
            50% -300%,
            120% -50%,
            400% 35%,
            150% 120%,
            350% 380%,
            25% 150%,
            -250% 380%,
            -50% 120%,
            -300% -15%,
            -50% -20%
          );
        }

        to {
          scale: 1;
          filter: sepia(0.35) hue-rotate(0) blur(0) drop-shadow(1px 1px 4px #0005);
        }
      }
    }
  }
}
