.animated-text {
  &::before {
    text-transform: inherit;
    content: "\00a0";
    display: inline-block;
    line-height: 1.1em;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    width: fit-content;
    animation: 8s ease-in-out 0.75s infinite forwards text-animation;
    transform-origin: left center;

    @media screen and (max-width: theme(screens.sm)) {
      display: none;
    }
  }
}

@media screen and (min-width: theme(screens.sm)) {
  @keyframes text-animation {
    from {
      transform: scaleX(0);
    }
    4% {
      content: "\00a0";
      transform: scaleX(1);
    }
    8% {
      content: "&d=X HTb+C_?";
    }
    9% {
      content: "cnMr GY=$4gJ";
    }
    10% {
      content: "ajdy _VuD5_}";
    }
    11% {
      content: "an$# Pama9Vd";
    }
    12% {
      content: "an$# m^do@z!";
    }
    13% {
      content: "an!: mo]YREx";
    }
    14% {
      content: "An?$ mo^t@!@";
    }
    15% {
      content: "Ana! mos&$Fm";
    }
    16% {
      content: "Ana$ most@!2";
    }
    17% {
      content: "Ana? mosta!@";
    }
    18% {
      content: "Ana! mostaf@";
    }
    19%,
    to {
      content: "Anas Mostafa";
    }
  }
}
