.common {
  --first-duration: 4s;

  .animated-text {
    @media (min-width: theme(screens.lg)) {
      @keyframes mask-text {
        from {
          background-size: 0%;
          background-color: var(--foreground-color);
          scale: 0;
          opacity: 0;
          transform: translateX(1000px);
        }
        15% {
          scale: 1;
          opacity: 1;
          transform: translateX(0);
        }
        25% {
          background-size: 0%;
        }
        to {
          opacity: 1;
          animation-play-state: paused;
        }
      }
    }

    animation: 6s ease-in calc(var(--first-duration) / 2) 1 forwards mask-text;
    opacity: 0;
    background-image: repeating-linear-gradient(
      to left bottom,
      var(--foreground-color) 0 6px,
      var(--scrollbar-color) 8px 22px,
      var(--background-end-color) 22px 25px
    );
    color: transparent;
    text-shadow: 2px 2px 4px rgb(from var(--foreground-color) r g b / 0.05),
      -1px -1px 2px rgb(from var(--foreground-color) r g b / 0.05);
    background-origin: content-box;
    background-position: top right;
    background-size: 100%;
    background-clip: text;
    line-height: 1.1em;

    @media screen and (min-width: theme(screens.sm)) {
      &::before {
        content: "\00a0";
        text-transform: inherit;
        border-bottom-style: solid;
        border-bottom-width: 5px;
        inline-size: fit-content;
        block-size: 0;
        scale: 0 1;
        animation: 12s cubic-bezier(0.88, -0.02, 0.12, 0.3) calc(var(--first-duration) + 2.5s)
          infinite normal text-animation;
        transform-origin: left center;
        color: rgb(from var(--foreground-color) r g b / 1);
        text-shadow: none;

        @media screen and (min-width: theme(screens.sm)) {
          @keyframes text-animation {
            4% {
              block-size: calc(1lh + 5px);
              scale: 0 1;
            }
            8% {
              content: "\00a0";
              scale: 1;
            }
            10% {
              content: "&d=X HTb+C_?";
            }
            11% {
              content: "cnMr GY=$4gJ";
            }
            12% {
              content: "ajdy _VuD5_}";
            }
            13% {
              content: "an$# Pama9Vd";
            }
            14% {
              content: "an$# m^do@z!";
            }
            15% {
              content: "an!: mo]YREx";
            }
            16% {
              content: "An?$ mo^t@!@";
            }
            17% {
              content: "Ana! mos&$Fm";
            }
            18% {
              content: "Ana$ most@!2";
            }
            19% {
              content: "Anas mosta!@";
            }
            20% {
              content: "Anas mostaf@";
            }
            21% {
              content: "Anas Mostafa";
              color: rgb(from var(--foreground-color) r g b / 1);
            }
            80% {
              color: rgb(from var(--foreground-color) r g b / 0.5);
              opacity: 1;
            }
            85% {
              block-size: calc(1lh + 5px);
              scale: 1;
              color: transparent;
            }
            92%,
            to {
              scale: 0;
              color: transparent;
              content: "Anas Mostafa";
              block-size: 0;
            }
          }
        }
      }
    }
  }

  .image {
    @media screen and (min-width: theme(screens.lg)) {
      border-radius: 5% 2%;
      will-change: opacity, clip-path, filter, scale;
      animation: clip var(--first-duration) linear 1 forwards;
      /* Idle mode */
      scale: 1;
      opacity: 1;
      filter: sepia(0.35) invert(0) blur(0) drop-shadow(1px 1px 2px #0003);
      clip-path: none;
      transform: none;

      @keyframes clip {
        from {
          clip-path: polygon(
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%,
            50% 50%
          );
          scale: 0;
          opacity: 0;
          filter: sepia(0.7) hue-rotate(180deg);
        }

        10% {
          scale: 0.7;
          opacity: 1;
        }

        20% {
          scale: 0.9;
          filter: sepia(0.35) hue-rotate(180deg);
          clip-path: polygon(
            49% 23%,
            53% 49%,
            78% 41%,
            57% 55%,
            67% 74%,
            49% 56%,
            31% 75%,
            42% 56%,
            19% 43%,
            45% 49%
          );
        }

        35% {
          scale: 0.96;
          filter: sepia(0.35) hue-rotate(180deg);
          clip-path: polygon(
            50% 0%,
            64% 34%,
            100% 35%,
            70% 60%,
            100% 100%,
            49% 78%,
            0 100%,
            29% 60%,
            1% 36%,
            36% 35%
          );
        }

        70%,
        80% {
          scale: 0.96;
          filter: sepia(0.45) hue-rotate(0) blur(2px);
          clip-path: polygon(
            50% 4%,
            64% 34%,
            100% 35%,
            66% 55%,
            93% 94%,
            50% 70%,
            6% 94%,
            31% 56%,
            1% 36%,
            36% 35%
          );
        }

        85% {
          clip-path: polygon(
            50% 0%,
            80% 10%,
            100% 35%,
            100% 70%,
            80% 90%,
            50% 100%,
            20% 90%,
            0% 70%,
            0% 35%,
            20% 10%
          );
        }

        95% {
          clip-path: polygon(
            50% -300%,
            120% -50%,
            400% 35%,
            150% 120%,
            350% 380%,
            25% 150%,
            -250% 380%,
            -50% 120%,
            -300% -15%,
            -50% -20%
          );
        }

        to {
          scale: 1;
          filter: sepia(0.35) hue-rotate(0) blur(0) drop-shadow(1px 1px 2px #0003);
          clip-path: none;
        }
      }
    }
  }
}
